@page "/dashboard"
@inject NavigationManager Navigation


<h3>Dashboard - Blazor Server (Live)</h3>
<div id="sensors">
<!-- sensor list-->
</div>


@code {
// TODO: To connect to /sensorHub using HubConnection (Microsoft.AspNetCore.SignalR.Client)
}